/** CSS STYLE **/






.position{
    position: relative;
    height: 525px;
    top: 55px;
    right: -270px;
}



.section{
    max-width: 1110px;
    text-align: center;
    margin: 100px, 0, 100px,0;
}

.font{
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 1.6em;
    --main-color: #2a2626;
}

.h-font{
    font-family: 'Neucha';
    line-height: 1.2em;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 34px;
}

.video {
    //вылет
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}


::before{
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
}

:root{
    --main-color:#fe8a02;
}